<%= form_for @feedback, url: {action: "create"}, :html => { :multipart => true } do |f| %>
  <p>
    <%=f.label 'User_id'%>
    <%=f.text_field :user_code, :value => @user_code%>
  </p>
  <p>
    <%=f.label 'Email'%>
    <%= f.text_field :email %>  
  </p>
 
  <%if @category == "game_problem"%>
    <%= f.datetime_select :bug_happen%>
  <%end%>
  </br>
  <p>
    <%= f.text_area :content, size: "60x12" %>
  </p>
 
  <%if ['money_problem', 'game_problem'].include?(@category)%>
    <p>
      <%=f.label 'picture'%>
      <%= f.file_field :avatar %>
    </p>
    
  <%end%>
  <br/>
  <%= f.submit "送信" %>
<%end%>
